/*PRIMER BLOQUE QUE CORRESPONDE A LA PARTE DEL CATALOGO*/
.b1{
    background-color: #f5e3e6;

    .b1__h3{
        font-size: 2rem;
        font-family: 'Crimson Text', serif;
        font-weight: bolder;
        font-style: italic;
    }
    .b1__f{
        display:block;
        justify-content: center;
    }
    
    .foto{
        width: 100%;
        height: auto;
    }
    
    }

    .Fech{
        color: rgb(0, 0, 0);
        font-family: 'Jim Nightshade', cursive;
        font-size: 80%;
        font-weight: normal;
        margin-bottom: 15px;
    
}

