/*BLOQUE 2 SE APLICA EN LA CABECERA DEL DETALLE DEL PRODUCTO*/
@import "variables";


.b2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .b2__h3{
        font-family: 'Crimson Text', serif;
        font-size: 300%;
        font-weight: bolder;
        color: $_negro;
         
    }
    .b2__img{
        width: 600px;
        height: 400px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        padding-bottom: 0%;
    }
}
