@import "variables";

.tituLoguin{
    color: rgb(0, 0, 0);
    background-color: #f977ce;
    background-image: linear-gradient(315deg, #f977ce 0%, #c373f2 74%);
    font-family: $_Crim;
    font-size: 200%;
    font-weight:bolder;
    text-align: center;
    font-style: italic;
}

.LoguinForm{
   margin-top: 1%;
   display:block;
   justify-content:center;
   width: 90%;
   margin-left: 5%;

   legend{
       text-align: center;
       font-weight: bold;
   }
   input{

      transition: all 1s;
   }
}

.bott{
    text-align: center;
}

form input:focus{
    padding: 30px 70px ;
    font-size: 200%;
} 

/*EACH de ejmplo, repito proopiedades en estos elementos*/


@each $mimo in Nombre,Apellido,email, Contraseña, Direccion,condicion{
    .#{$mimo} {
      display: inline-block;
      font-size: 150%;
      font-family: $_Crim;
      font-weight: normal;
    }
  }
  