/*BOTONES BLOQUE 4*/
@import "variables";




.b3{
    padding: 20px;
    border: 1px;
    text-align: center;
    display: block;
    margin-top:  5px ;
    margin-bottom: 10px;
    width: 100%;


    font-family:$_Crim;
    font-weight: normal;
    
    .b3__pun{
        font-weight: bolder;
    }

    .b3{
        font-style: italic;
    }

    .b3__fech{
        font-family:$_Crim;
        font-weight: normal;
    }
}

/*BUCLE FOR*/
@for $i from 1 through 3 {
   .fila-#{$i} { font-size: 4em - $i;}
}

.b4{
    width: 100vh;
  
    .b4__ul{
        list-style: none;
        display:flex;
        flex-direction: row;
        text-align: end;
        list-style-type: none;
 
       

    }

    .b4__ul{
        padding-top: 0%;
        list-style: none;
        display:inline-flex;
        justify-content:end;
       
    }
    }
