@import "variables";
@import "cabecera";
@import "catalogo";
@import "puntaje";
@import "tablaComent";
@import "loguin";



nav{
    background-color: #c370f3;
    background-image: linear-gradient(315deg, #f58cd2 0%, #ad80f5 74%);
    color: aliceblue;
    font-family:$_Crim;
    font-size: 130%;
    font-weight: normal;
}

.Modal{
    color: black;


      .BackM{
          background-color: #f977ce;
         background-image: linear-gradient(315deg, #f977ce 0%, #c373f2 74%);
}
}
/*AQUI TRABAJE UN POCO EL CAROUSEL PARA QUE NO FUERA ALGO QUE OCUPASE TANTO ESPACIO.*/
.carousel-inner{
    max-height: 60vh; 
}

 /*ESCRITURA DEL  CARPUSEL*/
.carousel-caption{
    position: absolute; 
    top: 25%;
    z-index: 10;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.322);
}

/*UTILIZANDO MEDIA PARA CAROUSEL*/
@media (max-width: 360px) {
    .carousel-inner{
       max-height: 60vh;
    }
 }
@media (max-width: 800px) {
    .carousel-inner{
       max-height: 20vh;
    }
 }


@media (max-width: 768px) {
    .carousel-caption{
        top: 10%;
    }
 }

 @media (max-width: 1024px) {
    .carousel-inner{
       max-height: 30vh;
    }
    .carousel-caption{
        top: 30%;
    }
 }



/*BODY*/
main{
  background-color:#f5e3e6;

}

/*Footer*/
footer{
    display: block;
    text-align: end;
    justify-content: flex-end;

    color: blanchedalmond;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: normal;
    margin-right:  3%;
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: blanchedalmond;
    }
 }

    .Foot{
    
        background-color: #a4508b;
        background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    #poop{
        color: blanchedalmond;
        font-family: 'Crimson Text', serif;
        font-size: 2em;
        font-weight: normal;

}
}
