/*TABLA*/
@import "variables";


.b5{
    align-items: center;
    background-color:#8cb7f769;

    .b5__tab{
        font-family:$_Crim;
        font-style: italic;
        text-align: center;
        .b5__th{
            background-color: #2e6fd13a;
            border-bottom: 1px solid #999;
            text-align: center;
        }
          
        td {
            letter-spacing: 1px;
            padding: 1% 1% 1% 3%;
          }
    }
}

/*PARTE DE COMENTARIOS Y TEXTAREA PARA COMENTAR*/
.b6{
    color: rgb(0, 0, 0);
    
   
    align-items:flex-end;
    font-family:$_Crim;
    font-style: italic;
    font-weight: 10%;
    font-size: 150%;
    
    .b6__label{
        width:72px;     
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
  
}

.b6__text{
    width:90%;
    height:100px;
    border-radius:10px;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg,#f6f2f2  0%,#d9d9d9 74%);
    margin:8px 0;
    resize:none;
    display:block;

    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
}

/*@EXTEND*/
.comentarios{
    font-family:$_Crim;
    font-style: italic;
    font-weight: 10%;
    font-size: 150%;
    margin-top: 2%;
    }

